# Notebook

## Introduction
This is an Introduction to Data Science Course

## Some of Data Science Langages:
1. Python
2. R
3. SQL

## Some of Data Science Libraries
- Tensorflow
- Pytorch
- scklearn

## Some of Data Science Tools
| Data Science Tools | 
| -------------| 
| Jupyter Notebook | 
| JupyterLab | 
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(13*40)+50

570

In [14]:
# This will convert 200 minutes to hours by diving by 60
minutes = float(input("Enter the number of minutes: "))
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

Enter the number of minutes:  360

360.0 minutes is equal to 6.0 hours.

## Objectives
* Data Science
* Data Analyst
* Data engineer

### Author
HAFIDA SAIDI